{% extends 'main/header.html' %}
{% block content %}

<div class="row">
<!-- INFOS Bin-->
  <div class="col s3">
    <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
<h1>Bin Info</h1>
{% for key,data in info.items %}

<div class="divider"></div>
  <div class="section">
    <h5 class="left-align">{{key}}</h5>
    <p class="left-align">{{data}}</p>
  </div>

{% endfor %}
</div>
</div>
</div>
<!-- Script output -->
<div class="col s9">
{% if function %}
      <h1>Decompiled:</h1>
      {% for f in function %}

          <div class="divider"></div>
          <div class="section">
            <h5>{{f}}</h5>

            </div>

      {% endfor %}

{% else %}
      <h1>Results:</h1>

{% for result in results %}
      <div class="divider"></div>
        <div class="section">
          <h5 class="center-align">{{result}}</h5>

        </div>
{% endfor %}
{% endif %}
</div>

<!-- Infos -->
<div class="col s13">
  <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">

  <h1>Imports</h1>
{% for imp in imports %}

<div class="divider"></div>
  <div class="section">
    <h7 class="left-align">{{imp}}</h7>
  </div>

{% endfor %}
  </div>
</div>
</div>

  </div>


{% endblock %}
